#container
{

    margin:0 auto;
    width:800px;


}

#pokemonImage
{
    background-color:aqua;
    float:right;
    margin: auto;
    
    width:500px;
    height:250px;



}

/*#pokemonName*/
.nameDiv
{
    background-colour:bisque;




}

/*#pokemonSpecies*/
.speciesDiv
{

    background-color:skyblue;


}

/*#pokemonHeight*/
.heightDiv
{
    background-color:lime;
    position:relative;
    float:left;


}

/*#pokemonWeight*/
.weightDiv
{
    background-color:mediumOrchid;
    position:relative;
    float:right;
}

/*#pokemonAbilities*/
.abilitiesDiv
{
    background-color:paleTurquoise;

}
